body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://img.freepik.com/free-vector/winter-background-with-pastel-color-brushes-leaves_220290-42.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
   
}
.dear h1{
    margin: 10px;
    padding: 10px;
    font-size: 85px;
    font-family: 'Sacramento';   
    justify-content: space-evenly;
    text-align: center;
}
.dear p{
    margin: 10px;
    padding: 10px;
    font-size: 55px;
    font-family: 'Sacramento';   
    justify-content: space-evenly;
    text-align: center;
}
img{
    margin: auto;
    padding: auto;
    border-radius: 1055px;
    display: block;
    height: 450px;
}